.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1250px) {
  .container {
    max-width: 1250px;
  }
}
body {
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}

/**
 * ----------------------------------------------------------------------------------------------
 * Flickity styles
 * ----------------------------------------------------------------------------------------------
 */

 .flickity-enabled {
  position: relative;
}

body:not(.is-tabbing) .flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: auto;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled {
  -webkit-tap-highlight-color: transparent;
}

.flickity-enabled.is-draggable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
}

.flickity-prev-next-button[disabled] {
  opacity: 0;
}

.flickity-prev-next-button svg {
  width: auto;
  height: 18px;
  stroke-width: 1.5px;
  stroke: currentColor;
}

/* ---- page dots ---- */
.flickity-page-dots {
  width: 100%;
  padding: 0;
  margin: 22px 0 0 0;
  list-style: none;
  text-align: center;
}

.flickity-page-dots .dot {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 6px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--border-color);
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out; /* This is used to increase the clickable area */
}

.flickity-page-dots .dot::before {
  position: absolute;
  content: "";
  top: -6px;
  right: -6px;
  left: -6px;
  bottom: -6px;
}

.flickity-page-dots .dot.is-selected {
  background: currentColor;
  border-color: currentColor;
}

@media screen and (min-width: 641px) {
  .flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    margin: 0 7px;
    border-width: 2px;
  }
}


header {
  padding: 10px 0;
}
main {
  padding: 80px 0;
}
main h1.title {
  max-width: 60%;
  margin: auto;
  text-align: center;
}
.subtitle {
  text-align: center;
  font-weight: 600;
  color: #EA3734;
  font-size: 22px;
}
footer {
  text-align: center;
}
footer ul {
  text-align: center;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  color: inherit;
  text-decoration: none;
}
footer ul li:first-child {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  header {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  main {
    padding: 20px 0;
  }
  main h1.title {
    max-width: 100%;
    font-size: 24px;
  }
  .subtitle { font-size: 16px; }
}


/* Product page */
.product-page-emulate {
  padding: 80px 0;
  margin-bottom: 120px;
  position: relative;
  margin-top: 80px;
}
.PageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  background: #363636;
  transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
}
.PageOverlay.is-visible {
  opacity: .5;
  visibility: visible;
}
.product-page-emulate .container {
  position: relative;
}
.Product__Wrapper {
  max-width: calc(100% - 650px);
}
.Product__Slideshow {
  width: 90%;
  margin: auto;
}
.Product__SlideItem--hidden {
  display: none;
}
.Product__SlideshowNav--thumbnails {
  display: flex;
  justify-content: center;
}
.Product__SlideshowNav--thumbnails .Product__SlideshowNavImage {
  width: 70px;
  margin: 10px;
}
.Product__InfoWrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.Product__Info {
  width: 600px;
  max-width: 600px;
}
.form-box {
  background-color: #f3f2f3;
  padding: 10px 10px 20px;
  margin-top: 30px;
}
.ProductMeta__PriceList { display: inline-block; }
.ProductMeta__Price {
  font-size: 25px;
  letter-spacing: .1em;
  font-weight: 600;
}
.bwb_pstage_price_note {
  font-weight: 600;
}
.review {
  margin-top: 10px;
  font-size: 14px;
}
.fa-star.checked {
  color: #ffce00;
}
.product__note p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}
.Price--highlight {
  color: #f94c43;
}
.Price--compareAt {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}
.Price--compareAt.hidden {
  display: none;
}
.Price--compareAt::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -.4em;
  width: calc(100% + .8em);
  height: 1px;
  background: currentColor;
}
.SizeSwatch__Radio {
  display: none;
}
.SizeSwatch__Radio:checked+.SizeSwatch img {
  opacity: 1!important;
}
.SizeSwatchList {
  list-style-type: none;
  padding: 10px 0;
}
.SizeSwatchList li {
  width: 25%;
  margin: 0;
  display: inline-block;
}
.SizeSwatchList li:not(:first-child) {
  margin-left: -6px;
}
.SizeSwatchList li label:hover {
  cursor: pointer;
}
.SizeSwatch span {
  display: block;
  text-align: center;
  background: #fff;
  margin-top: 10px;
  font-size: 14px;
  padding: 3px 0;
}
.SizeSwatch span.is-active {
  background-color: #e25173 !important;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
}
.SizeSwatch img { 
  opacity: .5; 
  max-width: 85%;
}
.ProductForm__AddToCart {
  height: 45px;
  padding: 10px;
  color: #ffffff;
  background: #e25173;
  border-color: #e25173;
  -webkit-appearance: button;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.cart-drawer {
  width: 455px;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  visibility: hidden;
  height: 100vh;
  max-height: none;
  z-index: 20;
  transition: transform .5s cubic-bezier(0.645, 0.045, 0.355, 1),visibility .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: var(--background);
  box-shadow: none;
  touch-action: manipulation;
  transform: translateX(100%);
  background: #fff;
}
.cart-drawer[aria-hidden=false] {
  visibility: visible;
  transform: translateX(0);
}
.Drawer__Header {
  height: 72px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  position: relative;
}
.Drawer__Title {
  text-transform: capitalize;
  font-size: 22px;
  letter-spacing: .1em;
}
.Drawer__Close {
  border: 0;
  background: transparent;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.Icon--close {
  width: 14px;
  height: 14px;
}
.cart-announcement {
  background-color: #f3fdf2;
}
.cart-announcement span {
  display: block;
  font-size: 14px;
  padding: 15px 40px;
  text-align: center;
}
.Drawer__Container {
  padding-left: 30px;
  padding-right: 30px;
}
.CartItemWrapper {
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.CartItem__Remove {
  position: absolute;
  top: 20px;
  right: 0;
}
.CartItem__Remove svg {
  color: #000;
  width: 10px;
  height: 10px;
}
.CartItem {
  display: table;
  table-layout: fixed;
  margin: 30px 0;
  width: 100%;
}
.CartItem__ImageWrapper, .CartItem__Info {
  display: table-cell;
  vertical-align: middle;
}
.CartItem__ImageWrapper {
  width: 70px;
}
.CartItem__Info {
  padding-left: 25px;
}
.CartItem__Title {
  font-size: 17px;
  overflow: unset;
  white-space: normal;
  font-weight: 600;
  line-height: 1.5;
  max-width: 90%;
}
.CartItem__Actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}
.QuantitySelector {
  display: inline-flex;
  align-items: center;
  border: 1px solid #e0e0df;
  white-space: nowrap;
}
.QuantitySelector__Button {
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.QuantitySelector__Button {
  padding: 10px 14px;
  background: transparent;
  border: 0;
}
.QuantitySelector__Button svg {
  width: 10px;
  height: 10px;
  stroke-width: 1.5px;
  vertical-align: -1px;
}
.QuantitySelector__CurrentQuantity {
  width: 40px;
  font-size: 13px!important;
  border: 0;
  text-align: center;
}
.CartItem__PriceList {
  font-size: 16px;
  font-weight: 600;
}
.CartItem__Variant {
  text-transform: uppercase;
  font-size: 12px;
}
.drawer_footer_custom {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.Drawer__Footer {
  padding: 20px 30px;
}
.DiscountContainer--Custom {
  margin-bottom: 15px;
}
.DiscountSubmit--Custom {
  display: flex;
}
.DiscountInput--Custom {
  padding-left: 10px;
}
#Discount-Message {
  font-size: 12px;
}
.DiscountInput--Custom {
  width: 100%;
  border-width: 1px;
  border-radius: 3px;
  border-color: #e2e2e2;
  border-style: solid;
  border-radius: 0;
}
.DiscountButton--Custom {
  padding: 14px;
  margin-left: 10px;
  border-color: #000;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}
.tax-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#DiscountDiv span, #DiscountPrice, .tax-custom span {
  font-size: 16px;
}
.tax-custom .Cart__Taxes {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.subtotal_custom {
  border-top: 1px solid rgba(0,0,0,.05);
  padding-top: 10px;
  display: flex;
  font-size: 16px;
}
.Cart__Checkout {
  font-size: 15px;
  color: #fff!important;
  border: #000!important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  width: 100%;
  background: #000;
  padding: 15px;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {

}
@media screen and (max-width: 767px) {
  .product-page-emulate {
    margin-bottom: 0;
  }
  .Product__Wrapper,
  .Product__Info {
    max-width: 100%;
  }
  .Product__InfoWrapper {
    position: unset;
  }
  .ProductMeta__Title {
    font-size: 24px;
    text-align: center;
  }
  .ProductMeta {
    padding: 0 15px;
  }
}


.bwb-conf {
	box-sizing: border-box;
}
.has-margin-left {
	margin-left: 5px;
}
.has-margin-right {
	margin-right: 5px;
}
.bwb-conf .conf-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
}
.bwb-conf .conf-item {
	flex: 0 0 50%;
	max-width: calc(50% - 5px);
	background-color: #f3f2f3;
	padding: 5px 0;
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}
.bwb-conf .full-conf-item {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
.bwb-conf .full-conf-item {
	display: flex;
	align-items: center;
      justify-content: center;
    width: 100%;
}
.bwb-conf .conf-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.bwb-conf .conf-icon img {
	max-width: 29px;
	height: 32px;
}
.bwb-conf .conf-text {
	padding-left: 15px;
	color: #5e5e5e;
    font-size: 13px !important;
    font-weight: 400 !important;
}
@media only screen and (max-width: 798px) {
  .bwb-conf .conf-text {
    font-size: 10px !important;
  }
}